body {
  font-family: 'Inter', sans-serif !important;
}


.form-add-job {
  max-width: 100%;
}

@media (min-width: 768px) {

  .form-add-job {
    max-width: 90%;
  }

}

@media (min-width: 992px) {

  .form-add-job {
    max-width: 75%;
  }

}

